body
{
    margin: 30px;
    font-family: 'Raleway', sans-serif;
}

a 
{
    text-decoration: none;
}

/* Header */

nav 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
}

ul
{
    color: #0065FC;
    display: flex;
        flex-direction: row;
        justify-content: flex-end;
    list-style: none;
}
nav a 
{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 45px;
    padding-bottom: 45px;
}
nav li :hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

.inscription a
{
    color: #0065FC;
    font-weight: bold;
}

        /* Barre de Recherche */

#Recherche
{
    font-weight: bold;
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.formulaire 
{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border: 1px solid #F2F2F2;
    height: 50px;
    width: max-content;
    border-radius: 20px / 10px;
}

.icone_map 
{
    padding: 17px 16px 17px 16px;
    background-color: #F2F2F2;
    border-radius: 14px 0 0 14px;  
    text-align: center;
}
.destination
{
    font-weight: bold;
    border: none;
    padding-left: 10px;
    height: 50px;
}
.research
{
    font-weight: bold;
    border: none;
    background-color: #0065FC;
    color: white;
    height: 50px;
    border-radius:0 14px 14px 0;
}

    /* Filtres */
 
#filtres
{
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
}

#filtres ul li
{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    list-style: none;
    border: 3px solid #F2F2F2;
    padding: 0 20px 0 0;
    border-radius: 200px;
    margin-top: 10px;
    margin-left: 25px;
}

.ifiltre  {
    background-color:rgb(222, 235, 255);
    color: #0065FC;
    border-radius: 50%;
    padding: 25px;
    margin-right: 25px;   
}