body {
  margin: 0px;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* Header */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

header ul {
  color: #0065fc;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  padding-left: 0px;
}
nav a {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 43px;
  padding-bottom: 40px;
}
nav li a:hover {
  color: #0065fc;
  border-top: 4px solid #0065fc;
}

.inscription a {
  color: #0065fc;
  font-weight: bold;
}

.inscription a:hover {
  border-top: none;
}

/* Barre de Recherche */

#Recherche {
  font-family: "Raleway", sans-serif;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
.guide_recherche h1 {
  font-size: 20px;
  font-weight: bold;
}

.formulaire {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border: 1px solid #f2f2f2;
  height: 50px;
  width: max-content;
  border-radius: 20px / 10px;
}

.icone_map {
  padding: 17px 16px 17px 16px;
  background-color: #f2f2f2;
  border-radius: 14px 0 0 14px;
  text-align: center;
}

.icone_map:hover {
  background-color: #0065fc;
  cursor: pointer;
  color: white;
}
.destination {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border: none;
  padding-left: 10px;
  height: 50px;
  width: 200px;
}
.research {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border: none;
  background-color: #0065fc;
  color: white;
  height: 50px;
  border-radius: 0 14px 14px 0;
  width: 100px;
}

.research:hover {
  cursor: pointer;
}

/* Filtres */

#filtres {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
}

#filtres ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  border: 3px solid #f2f2f2;
  border-left: none;
  padding: 0 20px 0 0;
  border-radius: 200px;
  margin-top: 10px;
  margin-left: 25px;
}

.filtre {
  background-color: rgb(222, 235, 255);
  color: #0065fc;
  border-radius: 50%;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
}

#filtres ul li:hover {
  background-color: #f2f2f2;
}

#info_recherche {
  display: flex;
  align-items: center;
  margin-left: 30px;
  padding-bottom: 20px;
}
#info_recherche .info {
  display: inline;
  margin-left: 10px;
}

#info_recherche .icone_info {
  color: #0065fc;
  border: 2px solid #f2f2f2;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  vertical-align: middle;
  padding: 1px;
}

/* Pied de page */

footer {
  display: flex;
  background-color: #f2f2f2;
  background-size: cover;
  margin: 0px;
  padding: 30px 0 30px 0;
}

footer h3 {
  font-weight: bold;
  width: 50%;
  margin-left: 30px;
}
footer ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;
}

footer li {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 30px;
}

.list_footer {
  width: 50%;
  margin-left: 10px;
}

footer a:hover {
  color: #0065fc;
}

/* Hébergements Marseille */

.heber_marseille {
  display: flex;
  justify-content: space-around;
}

.hebergements_principaux {
  margin-left: 10px;
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 65%;
  margin-bottom: 30px;
}
.hebergements_principaux h2 {
  margin-left: 50px;
  padding-top: 20px;
}

.firstline_hotel img {
  width: 100%;
  height: 8vw;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.secondline_hotel img {
  width: 100%;
  height: 8vw;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.hebergements_principaux article {
  background-color: white;
  border: 4px solid transparent;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #e2e2e2;
  width: 30%;
  height: auto;
  padding-bottom: 10px;
}

.first_hotel_line,
.second_hotel_line {
  justify-content: space-around;
  display: flex;
  margin: 30px;
}

.full {
  color: #0065fc;
}

.empty {
  color: rgb(217, 217, 217);
}

.first_hotel_line h3 {
  margin: 5px 0 0 10px;
}

.first_hotel_line p {
  margin: 5px 0 0 10px;
}

.second_hotel_line h3 {
  margin: 5px 0 0 10px;
}

.second_hotel_line p {
  margin: 5px 0 0 10px;
}

.rating {
  margin: 5px 0 0 10px;
}

#show_more {
  margin: 40px;
}

/* Populaire */

.populaire {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 30%;
  margin: 0 30px 30px 20px;
}

.first_line_popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  padding-top: 20px;
  
}

.fa-chart-line:before {
  font-size: 1.5em;
}


.column_hotel img {
  width: 9vw;
  height: 9vw;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.populaire article {
  background-color: white;
  border: 4px solid transparent;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #e2e2e2;
  width: 85%;
  height: auto;
  margin: 15px 15px 15px 35px;
  
}

.column_hotel a {
  display: flex;
}

.populaire .image_info {
  flex-direction: column;
}

.populaire h2 {
  margin-left: 20px;
}

.column_hotel {
  height: auto;
  width: auto;
}

.image_info .rating {
  margin: 45px 0 0 15px;
}

.column_hotel h3 {
  margin: 15px 0 4px 15px;
}
.column_hotel p{
  margin: 10px 0 5px 15px;
}


/* Activités Marseille */


#activites {
  margin-left: 10px;
  margin-bottom: 30px;
}

#activites h2 {
  margin-left: 40px;
}

.activity {
  display: flex;
  justify-content: space-around;
}

.activity article {
  box-shadow: 1px 1px 8px #e2e2e2;
  border-radius: 20px 20px 20px 20px;

}
.activity img {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.small_pic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vieux_port img {
  width: 20vw;
  height: 30vw;
}

.pomegues img {
  width: 20vw;
  height: 11vw;
}

.frioul img {
  width: 20vw;
  height: 11vw;
}
.calanques img {
  width: 20vw;
  height: 30vw;
}
.garde img {
  width: 20vw;
  height: 11vw;
}
.longchamp img {
  width: 20vw;
  height: 11vw;
}

article h3 {
  margin: 15px;
}

/* Media Queries */

@media screen and (max-width: 1440px) {

  .heber_marseille article {
    height: 18vw;
    width: 17vw;
    margin: 10px;
}

.column_hotel {
    height: 15vw;
}

.column_hotel img {
    height: 100%;
}

.populaire .rating {
    margin: 0 0 0 15px;
}

.activites article {
    width: 19vw;
    height: auto;
}

.activites img {
    width: 100%;
}

}

/* Smartphones (portrait) */
@media screen and (max-width : 414px) {

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

nav ul{
  width: 100%;
}

nav .navigateur a{
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 4px solid #e2e2e2;
}


.inscription {
  position: absolute;
  top: 47px;
  right: 0px; 
  border-bottom: none;
}
nav li a:hover {
  color: #0065fc;
  border-bottom: 4px solid #0065fc;
  border-top: none;
}

#filtres {
  margin-top: 20px;
}
#filtres span+ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}



#filtres ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#info_recherche {
width: 100%;
margin-left: 20px;
}

.heber_marseille{
  flex-direction: column;
}

.hebergements_principaux:nth-child(1) {
order: 2;
}

.populaire {
  width: 100%;
  height: auto;
}

footer {
  flex-direction: column;
}
  }